.login {
    background: rgba(0,0,0,0.8); 
    color: aliceblue;
    position: fixed; 
    top: 15%; 
    left: 35%; 
    width: 400px; 
    padding: 40px; 
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0,0,0,0.5); 
    border-radius: 10px; 
    display: none; 
    animation: zoom 0.5s;
}
.dangki h2 {
    text-align: center; 
    margin: 0px 0px 30px;
}
.dangki .dangkibox {
    position: relative
}
.dangki .dangkibox input {
    width: 100%; 
    padding: 10px 0;
    font-size: 16px; 
    margin-bottom: 30px; 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #FFF; 
    outline: none; 
    color: aliceblue
}
.dangki .dangkibox label {
    position: absolute; 
    top: 0px; left: 0px; 
    padding: 10px 0px; 
    pointer-events: none; 
    transition: 0.5s
}
.dangki .dangkibox input:focus ~ label,
.dangki .dangkibox input:valid ~ label
{
    top: -18px;
    font-size: 12px; 
    color: #03a9f4
}
.dangki input[type="submit"]
{
    background: #03a9f4; 
    color: aliceblue; 
    border: none; 
    outline: none; 
    padding: 10px 20px; 
    cursor: pointer;
}
.dangki input[type="submit"]:hover {
    opacity: 0.4;
}
@keyframes zoom {
    from {transform: scale(0)} 
    to   {transform: scale(1)}
}
.close {
    font-size: 25px; 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    cursor: pointer;
}